.top-bar {
  height: 90px;
  background-color: $background-dark;

  .ui.grid {
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }

  &__left {
    display: flex !important;
    align-items: center;

    img {
      height: 50px;
      transition: all 0.5s;
      &:hover {
        transform: translateX(-15px);
      }
    }
  }
}
